body {
    font-family: 'Roboto', sans-serif;
    background-image: url(nohabiaideasparaelfondo.gif);
    color: white;
}

.titulo {
    font-weight: 900;
    color: crimson;
}

.parrafo {
    font-weight: 500;
}